.stroke-thick {
  stroke-width: 6;
  stroke: rgba(255,255,255,0.5);
}

$symbol_shape_color:rgb(128,128,128);
$symbol_text_color:rgb(230,230,230);

.axis-node {
  circle {
    stroke: $symbol_shape_color;
    fill: rgba(0,0,0,0);
  }
}

#equator_lines_layer > line{
  stroke: url(#horizontal_glass_gradient);
}

#meridian_lines_layer > line{
  stroke: url(#vertical_glass_gradient);
}

.axis-node-text {
  fill:$symbol_text_color;
  stroke:none;
  font-weight:bold;
  font-family: 'Times New Roman', serif;
  font-size: 26px;
  user-select: none;
  mix-blend-mode: hard-light;

  text-anchor: middle;
  display: block;
}

.axis-symbol {
  //Fills
  path, .dot {
    fill:$symbol_shape_color;
    stroke:none;
  }
  //Strokes
  line, polyline, circle, .arc {
    fill:none;
    stroke:$symbol_shape_color;
    stroke-width:2px;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
}

.axis-node-circle {
  fill: rgba(0,0,0,0);
}

.blurred {
  filter:url(#gaussian_blur_filter);
}