.rotating {
  transform-origin: center;
  -webkit-animation:spin 12s linear infinite;
  -moz-animation:spin 12s linear infinite;
  animation:spin 12s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Fade in animation */
@keyframes fade_in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.transparent {
  opacity: 0;
}
.fade-in {
  -webkit-animation:fade_in 0s linear forwards;
  -moz-animation:fade_in 0s linear forwards;
  animation:fade_in 0s linear forwards;
}

$chart_size: 720px;

#chart_svg {
  width: $chart_size;
  height: $chart_size;
  display: block;
  position: relative;
  margin: auto;
}

.origin-center {
  transform-origin : center;
  transform-box: fill-box;
}

.invisible {
  stroke: none;
}

.center{
  margin: auto;
  width: 50%;
}