.houses-text-a > tspan {
  text-anchor: start;
  alignment-baseline: baseline;
}
.houses-text-b > tspan {
  text-anchor: end;
  alignment-baseline: hanging;
}

.houses-text {
  fill: white;
  stroke: none;
  user-select: none;
}