#chart_svg {

	position: absolute;

	.outlined {
		fill: none;
		stroke: white;
	}
	.zodiac-symbol {
		user-select: none;
		text-anchor: middle;
		alignment-baseline: middle;
		font-size: 48px;
		fill: white;
		stroke: none;
	}
}

#outer_circle {
	fill: rgba(0,0,0,0);
}